<div class="box mt-4">
    <div class="columns is-vcentered">
        <div class="column is-8">
            <div class="is-size-4">Welcome </div>
        </div>
        <div class="column is-2 has-text-centered">
            <div class="is-size-4 has-text-weight-semibold">
                {{totalRows}}
            </div>
            <div>Users</div>
        </div>
        <div class="column is-2 has-text-centered">
            <div class="is-size-4 has-text-weight-semibold">
                <button class="button is-info" [routerLink]="[ '/user/addUser']" >Add User</button>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <p-table [value]="users" #dt1 [rows]="5" [resizableColumns]="true" columnResizeMode="compress"
        styleClass="p-datatable-striped" [tableStyle]="{'min-width': '20rem'}"
        class="ptable table is-hoverable is-narrow" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['firstName']">

        <ng-template pTemplate="caption">
            <div class="is-flex">
                <span><strong >User Details</strong></span>
                <span class="p-input-icon-left ml-auto ">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" name="name"
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>Sr. No</th>
                <th pResizableColumn>Name</th>
                <th pResizableColumn pSortableColumn="age">Age<p-sortIcon field="count"></p-sortIcon> </th>
                <th pResizableColumn>Gender</th>
                <th pResizableColumn>Phone</th>
                <th pResizableColumn>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-i="rowIndex" lastIndexOf(user)>
            <tr>
                <td>{{i + 1}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.phone}}</td>
                <td><a [routerLink]="['/user/userDetails',user.id]">VIEW</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>