
<form class="box" [formGroup]="addForm" (ngSubmit)="addForm.status !== 'INVALID' && submitAddForm()">
    <div class="is-size-4 has-text-weight-bold mb-4">Add New User</div>

    <div class="field">
        <label class="form-label">First Name</label>
        <div class="control">
            <input class="form-control input" id="firstName" formControlName="firstName"
                [ngClass]="{error: getControl('firstName')?.errors && getControl('firstName')?.touched}" type="text" name=""
                placeholder="Enter your firstname" value="" required>
        </div>
        <div *ngIf="getControl('firstName')?.errors && getControl('firstName')?.touched">
            <small *ngIf="getControl('firstName')?.errors?.['required']" class="has-text-danger">firstName is required</small>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Last Name</label>
        <div class="control">
            <input class="form-control input" id="lastName" formControlName="lastName"
                [ngClass]="{error: getControl('lastName')?.errors && getControl('lastName')?.touched}" type="text" name=""
                placeholder="Enter your lastname" value="" required>
        </div>
        <div *ngIf="getControl('lastName')?.errors && getControl('lastName')?.touched">
            <small *ngIf="getControl('lastName')?.errors?.['required']" class="has-text-danger">lastname is required</small>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Age</label>
        <div class="control">
            <input class="form-control input" id="age" formControlName="age"
                [ngClass]="{error: getControl('age')?.errors && getControl('age')?.touched}" type="text" name=""
                placeholder="Enter your age" value="" required>
        </div>
        <div *ngIf="getControl('age')?.errors && getControl('age')?.touched">
            <small *ngIf="getControl('age')?.errors?.['required']" class="has-text-danger">Age is required</small>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Email</label>
        <div class="control">
            <input class="form-control input" id="email" formControlName="email"
                [ngClass]="{error: getControl('email')?.errors && getControl('email')?.touched}" type="text" name=""
                placeholder="Enter your emailid" value="" required>
        </div>
        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
            <small *ngIf="getControl('email')?.errors?.['required']" class="has-text-danger">Emailid is required</small>
        </div>
    </div>
   
    <div class="field">
        <label class="form-label">Gender</label>
        <div class="control">
            <input class="form-control input" id="gender" formControlName="gender"
                [ngClass]="{error: getControl('gender')?.errors && getControl('gender')?.touched}" type="text" name=""
                placeholder="Enter your gender" value="" required>
        </div>
        <div *ngIf="getControl('gender')?.errors && getControl('gender')?.touched">
            <small *ngIf="getControl('gender')?.errors?.['required']" class="has-text-danger">gender is required</small>
        </div>
    </div>
    <div class="field">
        <label class="form-label">Phone</label>
        <div class="control">
            <input class="form-control input" id="phone" formControlName="phone"
                [ngClass]="{error: getControl('phone')?.errors && getControl('phone')?.touched}" type="tel" name=""
                placeholder="Enter your phone" value="" required>
        </div>
        <div *ngIf="getControl('phone')?.errors && getControl('phone')?.touched">
            <small *ngIf="getControl('phone')?.errors?.['required']" class="has-text-danger">phone is required</small>
        </div>
    </div>
    
    <button class="button is-info" pButton pRipple  [disabled]="addForm.status === 'INVALID'" >ADD</button>
    <div *ngIf="error touched" class="has-text-danger">
        <span>{{error}}</span>
    </div>
</form>